<div class="registration-confirm">
  <h1 class="registration-confirm__title">Cadastro realizado com sucesso!</h1>
  <img
    class="registration-confirm__img"
    src="../../../../assets/img/welcome.png"
    alt="Imagem de boas vindas"
  />
  <div class="registration-confirm__message">
    <h3 class="registration-confirm__text">
      Você acaba de completar o seu cadastro.
    </h3>
  </div>

  <div>
    <button
      class="registration-confirm__login-button"
      (click)="navigateToLogin()"
    >
      Realizar login
    </button>
  </div>
</div>
