<mat-card class="task-removal">
  <div>
    <mat-icon mat-dialog-close class="task-removal-close">close</mat-icon>

    <mat-card-header class="task-removal-header">
      <mat-card-title class="task-removal-header__title">
        <mat-icon class="task-removal-header__title--icon"
          >highlight_off</mat-icon
        >
      </mat-card-title>
    </mat-card-header>

    <mat-divider class="task-removal-divider"></mat-divider>

    <mat-card-content class="task-removal-description">
      <p>A task será deletada permanentemente.</p>
      <p>Você tem certeza que deseja deletar esta task?</p>
    </mat-card-content>
  </div>

  <mat-card-actions class="task-removal-actions">
    <button
      mat-button
      class="task-removal-actions__confirm"
      mat-dialog-close
      (click)="deleteTask()"
    >
      Deletar task
    </button>
    <button mat-dialog-close class="task-removal-actions__cancel">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
