<div class="login">
  <div class="login-info">
    <mat-card class="login-card">
      <p class="login-card__title">LOGIN</p>
      <mat-divider class="login-card__divider"></mat-divider>

      <div class="login-card__align">
        <form class="login-card__form" [formGroup]="loginForm">
          <mat-form-field class="login-card__form--left" appearance="fill">
            <mat-label class="login-card__label">Nome de usuário</mat-label>
            <input
              class="login-card__input"
              matInput
              formControlName="username"
            />
          </mat-form-field>
          <div *ngIf="username?.touched && username?.errors" class="hint-left">
            <mat-hint class="hint-left" *ngIf="username?.errors?.['required']">
              O nome de usuário é obrigatório.
            </mat-hint>
          </div>

          <mat-form-field class="login-card__form--left" appearance="fill">
            <mat-label class="login-card__label">Senha</mat-label>
            <input
              class="login-card__input"
              matInput
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              type="password"
              autocomplete="off"
            />
            <mat-icon
              matSuffix
              class="button-password"
              (click)="showPassword = !showPassword"
            >
              {{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon
            >
          </mat-form-field>
          <div *ngIf="password?.touched && password?.errors" class="hint-left">
            <mat-hint class="hint-left" *ngIf="password?.errors?.['required']">
              A senha é obrigatória.
            </mat-hint>
          </div>
        </form>
        <div class="login-buttons">
          <button
            [disabled]="loginForm.invalid"
            [ngClass]="{
              'login-buttons__save': loginForm.valid,
              'login-buttons__disabled': loginForm.invalid
            }"
            (click)="login()"
          >
            Acessar
          </button>
          <button
            class="login-buttons__cancel"
            (click)="navigate(routes.DEFAULT)"
          >
            Cancelar
          </button>
        </div>
      </div>
    </mat-card>

    <span class="login-new-register"
      >Ainda não tem conta?
      <span
        class="login-new-register__link"
        (click)="navigate(routes.REGISTRATION)"
        >Cadastre-se.</span
      ></span
    >
  </div>
</div>
