@import '/src/styles/variables.scss';

.header {
  color: $white;
  background-color: $blue-deep;
  box-shadow: 0 2px 5px $box-shadow;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  flex-direction: row;
  height: 11vh;
  justify-content: space-between;

  &__items {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__name {
    font-family: $laleza;
    font-size: 1.875rem;
    font-weight: 900;

    &:hover {
      color: $white-hover;
      cursor: pointer;
    }
  }

  &__logo {
    margin-bottom: 6px;
    width: 40px;
  }

  &__login {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-right: 10px;

    &--icon:hover {
      color: $white-hover;
      cursor: pointer;
    }
  }
}
