@import '/src/styles/variables.scss';

.header {
  color: $white;
  background-color: $blue-deep;
  box-shadow: 0 2px 5px $box-shadow;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  flex-direction: row;
  height: 11vh;
  justify-content: space-between;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
  }

  &__name {
    font-family: $laleza;
    font-size: 1.875rem;
    font-weight: 900;
    margin: 0;

    &:hover {
      color: $white-hover;
      cursor: pointer;
    }
  }

  &__page {
    border-bottom: 1px solid $white-hover;
    color: $white-hover;
    font-family: $lexend;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;

    &--padding {
      padding-left: 30px;
    }

    &:hover {
      border-bottom: 1px solid $yellow-logo;
      color: $yellow-logo;
      cursor: pointer;
    }
  }

  &__logo {
    margin-bottom: 6px;
    width: 40px;
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-right: 10px;

    .login {
      align-items: center;
      background: none;
      border: none;
      display: flex;
      justify-content: center;

      &__description {
        color: $white;
        font-family: $lexend;
        font-size: 0.75rem;
        font-weight: 500;
        margin: 0;
        padding-right: 4px;
      }

      &__icon {
        color: $white;
      }

      &__description:hover,
      &__icon:hover {
        color: $white-hover;
        cursor: pointer;
      }
    }
  }
}
