@import '/src/styles/variables.scss';

.registration {
  background: radial-gradient(
    circle,
    rgba(250, 250, 250, 1) 0%,
    rgba(99, 149, 194, 1) 100%
  );
  border: none;
  border-radius: 50px;
  box-shadow: 1px 2px 11px -1px $blue-deep;
  height: 70vh;
  margin: 0 auto;
  margin-top: 35px;
  padding: 20px 60px;
  width: 60vw;

  .registration-align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
  }

  .registration-header {
    margin: 0 auto;
    padding: 0;

    &__title {
      color: $blue-darkest;
      font-family: $lexend;
      font-weight: 900;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .registration-form {
    &__title {
      font-family: $lexend;
      font-weight: 700;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $blue-medium-dark;
    }

    &__user-info {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    &__acess-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__first-field {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__form-field {
      width: 50%;
    }

    &__email-field {
      width: 100%;
    }

    &__field-name {
      width: 100%;
    }
  }
}

.form-content-warn {
  color: $blue-darkest;
  font-family: $lexend;
  font-size: 0.438rem;
  font-weight: 400;
  line-height: normal;
  margin-top: -5px;
}

.form-fied-register-cpf {
  width: 50%;
}

.form-fied-register-email {
  width: 100%;
}

.input-size {
  font-size: 0.8rem !important;
  font-family: $lexend;
}

.input-text {
  color: $blue-darkest !important;
  font-family: $lexend !important;
  font-weight: 900 !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 45px !important;
}

::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 10px;
  padding-bottom: 6px;
}

::ng-deep .mat-mdc-form-field-icon-suffix {
  align-self: stretch !important;
}

::ng-deep .mat-mdc-form-field-hint-wrapper {
  padding: 0 2px !important;
}

.confirm-terms {
  color: $blue-darkest;
  font-family: $lexend;
  font-size: 0.7rem;

  &--logo {
    font-family: $laleza;
    font-weight: 900;
  }
}

.button-register {
  font-family: $lexend;
  color: $white;
  font-weight: 700;
  padding: 9px 16px;
  font-size: 1rem;
  background-color: $blue-darkest;
  border: none;
  border-radius: 25px 10px;
  align-items: center;
  gap: 4px;
  width: 164px;
  margin: 0 auto;
  margin-top: 5px;

  &:hover {
    background-color: $blue-deep;
    cursor: pointer;
  }
}

.button-register-disabled {
  align-items: center;
  background-color: $gray-line;
  border: none;
  border-radius: 25px 10px;
  color: $gray-darkest;
  cursor: default;
  font-family: $lexend;
  font-weight: 700;
  font-size: 1rem;
  gap: 4px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 9px 16px;
  width: 164px;
}

.button-password:hover {
  cursor: pointer;
  color: $blue-deep;
}

p {
  margin-top: 22px;
}

.hint-left {
  color: $red-base;
  margin-left: -8px !important;
  margin-top: 8px;
  line-height: 70% !important;
  width: 135%;
}

.hint-password {
  margin-left: 0 !important;
  margin-top: 5px;
}
