<mat-card class="registration">
  <mat-card-header class="registration-header">
    <mat-card-title class="registration-header__title"
      >Complete o seu cadastro</mat-card-title
    >
  </mat-card-header>

  <div class="registration-align">
    <mat-card-content class="registration-form">
      <form [formGroup]="registrationForm">
        <div id="informacoes-pessoais__form-title">
          <h1 class="registration-form__title">Informações pessoais</h1>
          <div class="registration-form__user-info">
            <mat-form-field
              appearance="outline"
              class="registration-form__field-name"
              floatLabel="always"
            >
              <mat-label class="input-size">Nome</mat-label>
              <input
                matInput
                type="text"
                class="input-text"
                formControlName="firstName"
                maxlength="101"
              />
              <div
                *ngIf="firstName?.touched && firstName?.errors"
                class="hint-left"
              >
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="firstName?.errors?.['minLength']"
                >
                  O nome deve ter no mínimo 2 caracteres.
                </mat-hint>
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="firstName?.errors?.['maxlength']"
                >
                  O nome deve ter no máximo 100 caracteres.
                </mat-hint>
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="firstName?.errors?.['required']"
                  >O nome é obrigatório.</mat-hint
                >
              </div>
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="registration-form__field-name"
              floatLabel="always"
            >
              <mat-label class="input-size">Sobrenome</mat-label>
              <input
                matInput
                type="text"
                class="input-text"
                formControlName="lastName"
                maxlength="101"
              />
              <div
                *ngIf="lastName?.touched && lastName?.errors"
                class="hint-left"
              >
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="lastName?.errors?.['minLength']"
                >
                  O sobrenome deve ter no mínimo 2 caracteres.
                </mat-hint>
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="lastName?.errors?.['maxlength']"
                >
                  O sobrenome deve ter no máximo 100 caracteres.
                </mat-hint>
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="lastName?.errors?.['required']"
                  >O sobrenome é obrigatório.</mat-hint
                >
              </div>
            </mat-form-field>
          </div>
        </div>

        <div id="informacoes-de-acesso" class="form-user">
          <h1 class="registration-form__title">Informações de acesso</h1>
          <div class="registration-form__acess-info">
            <mat-form-field
              appearance="outline"
              class="registration-form__form-field registration-form__email-field"
              floatLabel="always"
            >
              <mat-label class="input-size">E-mail:</mat-label>
              <input
                matInput
                type="text"
                class="input-text"
                formControlName="email"
              />
              <div *ngIf="email?.touched && email?.errors" class="hint-left">
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="email?.errors?.['email']"
                >
                  Insira um e-mail válido.
                </mat-hint>
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="email?.errors?.['required']"
                >
                  O e-mail é obrigatório.
                </mat-hint>
                <mat-hint
                  class="form-content-warn hint-left"
                  *ngIf="email?.errors?.['maxlength']"
                >
                  O e-mail deve ter no máximo 100 caracteres.
                </mat-hint>
              </div>
            </mat-form-field>

            <div class="registration-form__first-field">
              <mat-form-field
                appearance="outline"
                class="registration-form__form-field"
                floatLabel="always"
              >
                <mat-label class="input-size">Nome de usuário</mat-label>
                <input
                  matInput
                  type="text"
                  class="input-text"
                  formControlName="username"
                />
                <mat-hint
                  *ngIf="!username?.touched || !username?.errors"
                  class="form-content-warn"
                  >O nome de usuário será utilizado para realizar o
                  login.</mat-hint
                >
                <div
                  *ngIf="username?.touched && username?.errors"
                  class="hint-left"
                >
                  <mat-hint
                    class="form-content-warn hint-left"
                    *ngIf="username?.errors?.['required']"
                  >
                    O nome de usuário é obrigatório.
                  </mat-hint>
                  <mat-hint
                    class="form-content-warn hint-left"
                    *ngIf="username?.errors?.['minLength']"
                  >
                    O nome de usuário deve ter no mínimo 2 caracteres.
                  </mat-hint>
                  <mat-hint
                    class="form-content-warn hint-left"
                    *ngIf="username?.errors?.['maxlength']"
                  >
                    O nome de usuário deve ter no máximo 100 caracteres.
                  </mat-hint>
                </div>
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="registration-form__form-field"
                floatLabel="always"
              >
                <mat-label class="input-size">Senha</mat-label>
                <input
                  matInput
                  minlength="6"
                  maxlength="12"
                  [type]="showPassword ? 'text' : 'password'"
                  class="input-text"
                  formControlName="password"
                  autocomplete="off"
                />
                <mat-icon
                  matSuffix
                  class="button-password"
                  (click)="showPassword = !showPassword"
                >
                  {{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon
                >
                <mat-hint
                  *ngIf="!password?.touched || !password?.errors"
                  class="form-content-warn"
                  >A senha deve conter entre 6 a 12 caracteres, pelo menos uma
                  letra maiúscula, uma minúscula, um número e um
                  símbolo.</mat-hint
                >
                <div
                  *ngIf="password?.touched && password?.errors"
                  class="hint-left"
                >
                  <mat-hint
                    class="form-content-warn hint-left hint-password"
                    *ngIf="password?.errors?.['passwordInvalid']"
                    >A senha deve conter entre 6 a 12 caracteres, pelo menos uma
                    letra maiúscula, uma minúscula, um número e um símbolo.
                  </mat-hint>
                  <mat-hint
                    class="form-content-warn hint-left"
                    *ngIf="password?.errors?.['required']"
                  >
                    A senha é obrigatória.
                  </mat-hint>
                </div>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
      <p id="space-password-hint" class="confirm-terms">
        Ao preencher o formulário de cadastro você permite que o
        <span class="confirm-terms--logo">U-Task Manager</span> salve as suas
        informações.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button
        [disabled]="registrationForm.invalid"
        [ngClass]="{
          'button-register': registrationForm.valid,
          'button-register-disabled': registrationForm.invalid
        }"
        (click)="registerDataForm()"
      >
        CADASTRAR
      </button>
    </mat-card-actions>
  </div>
</mat-card>
