<div class="dashboard">
  <div>
    <!-- TODO: Consumir dados do usuário e apresentar nesse bloco de informação -->
    <!-- <h1 class="dashboard__title">
      Olá,
      <span class="dashboard__title--bolder">{{ user?.nome }}</span
      >! :D
    </h1> -->
    <p *ngIf="!tasks.length" class="dashboard__empty">
      Ainda não há tasks registradas.
    </p>
  </div>

  <button class="dashboard__button" (click)="openModalNewTask()">
    <mat-icon class="add-icon"> add_circle </mat-icon>
  </button>

  <div class="dashboard__tasks">
    <app-dashboard-task
      *ngFor="let task of tasks"
      [task]="task"
    ></app-dashboard-task>
  </div>
</div>
