@import '/src/styles/variables.scss';

.footer {
  background-color: $blue-deep;
  bottom: 0;
  box-shadow: 1px 0px 11px -2px $box-shadow;
  color: $white;
  display: flex;
  font-weight: 700;
  height: 9vh;
  justify-content: center;
  gap: 20px;
  position: absolute;
  text-transform: uppercase;

  &__items {
    flex-direction: column;
    margin-left: 10px;
  }

  &__info {
    flex-direction: row;
    gap: 5px;
  }

  &__items,
  &__info {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &__icon {
    font-size: 0.75rem;
    width: 12px;
    height: 12px;
    margin-bottom: 1px;
  }

  &__team {
    font-family: $lexend;
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    &__items {
      flex-direction: row;
      gap: 5px;
    }
  }
}
