@import '/src/styles/variables.scss';

.snackbar-delete {
  display: flex;
  background-color: $white;
  border: 3px solid $blue-medium;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 0;

  &__title {
    color: $blue-darkest;
    font-family: $laleza;
    font-size: 0.875rem;
    font-weight: 900;
  }

  &__button {
    background: none;
    border: none;
    color: $blue-darkest;
    font-family: $laleza;
    font-size: 1rem;
    font-weight: 900;
    margin-right: 5px;

    &:hover {
      cursor: pointer;
      color: $blue-deep;
    }
  }
}
