$black: #000000;
$blue-deep: #151745;
$blue-light: #6395c2;
$blue-medium: #18addb;
$blue-medium-dark: #213c6e;
$blue-lightest: #99c5de;
$blue-darkest: #1a202b;
$box-shadow: #808080;
$gray-box: #e6e6e6;
$gray-line: #dfe9eb;
$gray-darkest: #b8c0c2;
$green-sucess: #00854e;
$red-base: #ef4136;
$red-title: #d33333;
$yellow-star: #ffbd59;
$yellow-logo: #f7c143;
$white: #ffffff;
$white-box: #fafafa;
$white-hover: #f7f5f5;

$high-priority: #db2f49;
$medium-priority: #fa6845;
$low-priority: #fca553;

$lexend: 'Lexend', sans-serif;
$laleza: 'Lalezar', system-ui;
